<div class="container">
    <h1>My First component</h1>
   Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit dolores ipsa, assumenda tempore voluptatum fugiat sint fuga voluptatibus est dolorum aut reiciendis dicta nemo quibusdam ex reprehenderit pariatur labore blanditiis quidem possimus quasi? Nostrum iusto eaque error quam nesciunt ea, minus atque incidunt velit assumenda aspernatur officiis numquam repellat! Dicta nihil eveniet accusamus nesciunt sint sunt voluptatibus, magnam odit blanditiis porro vel hic quos impedit recusandae optio eligendi. Ipsum quia in rerum sequi illum? Modi animi, et aliquam fugit facilis non deserunt odio velit. Debitis asperiores voluptates tempore distinctio, quia delectus, voluptate, quos exercitationem sit beatae quae dolor! Laudantium, aliquam.
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores velit doloremque deserunt sit, expedita quibusdam, odit sunt voluptates corrupti rem animi sint modi aspernatur culpa cum? Ex minima corporis recusandae.
</div>

<app-first-child></app-first-child>

